/* ヘッダースタイリング */
.header {
  height: 80px;
  background-color: #66D2CE;
  
  /* 画面上部に固定 */
  position: fixed;
  /* 外面いっぱいに表示 */
  top: 0;
  left: 0;
  right: 0;

  /* 常に最前面に表示 (数値を高くすることによって)*/
  z-index: 1000;
}

.header__container {
  max-width: 100%;
  display: flex;
  position: relative;
  
  justify-content: space-between;
  align-items: center;
  height: inherit;
  color: #fff;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
}

.header__logo a {
  text-decoration: none;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  /* フォントデザイン */
  font-weight: bold;
  font-family: courier;
}
/* ハンバーガーアイコン */
.hamburger {
  width: 50px;
  height: 80px;
  position: relative;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #66D2CE;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.hamburger span,
.hamburger span::before,

.hamburger span::after {
position: absolute;
display: block;
content: '';
width: 100%;
height: 1px;
background-color: #fff;
transition: all 0.5s;
}

.hamburger span::before {
top: 10px;
}

.hamburger span::after {
bottom: 10px;
}
/* ナビゲーションメニュー */

.nav {
position: fixed;
width: 40%;
height: 60vh;
top: 80px;
right: -100%;
background-color: #66D2CE;
padding: 50px 0;
transition: all 0.5s;
/* 左下だけを丸くする */
border-bottom-left-radius: 30px;
/* border-top: #fff 1px solid; */
}


.nav__item a {
  display: block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 15px 0 15px 50px;
  text-transform: uppercase;
}
/* ボタンを持って行った時の背景からー */
.nav__item a:hover {
  background-color: #EAEAE9;
  color: #66D2CE;
}

.hamburger.open span {
  background-color: transparent;
}

.hamburger.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.open span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.nav {
  /* 先ほどのCSSに追加 */
  right: -100%;  /* 画面右端のさらに外へ配置 */
}

.nav.open {
  right: 0;      /* クリックされたら、画面内にスライドイン */
}

.logo{
  width: 80px;
  
  position: relative;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 1001;
}


/* 背景デザイン */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  width: 100%;
  height: 1500px;
  background: #EAEAE9;
  position: fixed;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  z-index: -1;
  transition: transform 0.1s ease-out; /* スムーズな動き */
}



.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: #66D2CE;
  border-radius: 50%;
  box-shadow: 0 0 8px #66D2CE, 0 0 20px #66D2CE, 0 0 40px, 0 0 50px #66D2CE;
  animation: bg-animation 5s linear infinite;
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 50vh;
  background: linear-gradient(#66D2CE, transparent);
  opacity: 0.5;
  transform: translateX(-50%);
}

@keyframes bg-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* ここまで */
footer {
  padding-top: 30px;
  padding-top: 50px;
  padding-left: 20px; /* 余白を調整（必要に応じて変更） */
  background-color: #66D2CE;
}

footer a {
  padding-top: 10px;
  text-align: left;  /* テキストを左寄せ */
  color: white; /* リンクの文字色を白にする */
  text-decoration: none; /* 下線を消す（任意） */
}

footer a:hover {
  text-decoration: underline; /* ホバー時のエフェクト（任意） */
}
.footer-copyright{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 580px;
  padding-right: 100px;
  color: #ffffff;
  font-size: 20px;

}

/* textLoop */
.loop_wrap div {
  flex: 0 0 auto;
  white-space: nowrap;
}
.loop_wrap div:nth-child(odd) {
  animation: loop 50s -25s linear infinite;
}

.loop_wrap div:nth-child(even) {
  animation: loop2 50s linear infinite;
}



h1 {
  margin-bottom: 100px;
}
h2 {
  margin-bottom: 50px;
}
/* スライドする要素 */
.content {
  width: 300px;
  height: 350px;
  
}
.content:nth-child(1) {
  background-color: #E0D3C4;
  border: #333;
}
.content:nth-child(2) {
  background-color: #E0D3C4;
}
.content:nth-child(3) {
  background-color: #E0D3C4
}
.content:nth-child(4) {
  background-color: #E0D3C4;
}
.content:nth-child(5) {
  background-color: #E0D3C4;
}
/* スライドレールの枠 */
.wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 340px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
}
/* content4つをまとめたスライドブロック */
.slideshow {
  display: flex;
  -webkit-animation: loop-slide 20s infinite linear 1s both;
  animation: loop-slide 20s infinite linear 1s both;
}
@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* ホバー時に動きを止める（パターン2・3）*/
.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* ホバー時の装飾（パターン3） */
.content-hover {
  transition: all 0.2s;
  margin-right: 20px;
}
.content-hover:hover {
  transform: translateY(-20px);
  border-radius: 0 10%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}
.hiroshimaMore{
  background-color: #E0D3C4;
  height: 500px;
  margin: 20px;
  border-radius: 0 30px 0 30px;
  text-align: center;
}

.title{
  text-align: center;
  padding-top: 200px;
}
h1{
  font-size: 40px;
  
}
.hiroshimaMore{
  padding: 50px;
  display: flex;
  flex-direction: row;
}
.hiroshimaMore p{
  padding: 20px;
  font-size: 20px;
}



/* テンプレ */
.about-chikuhoku-box {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  position: relative;
  background-color: #E0D3C4;
  border-radius: 0 90px 0 90px;
  padding: 100px 10% 100px;
  margin-bottom: 90px;
}

.about-chikuhoku-box .box {
  position: relative;
  margin-bottom: 50px;
}

body {
  color: #333333;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background-color: inherit;
  position: relative;
}

.about-chikuhoku-box .box .article {
  width: 68%;
  z-index: 10;
  position: relative;
  text-shadow: 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea;
}
.about-chikuhoku-box .box .article  {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}
.about-chikuhoku-box .box .asset-map {
  width: 40%;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 1;
}
*, *::before, *::after{
  box-sizing: border-box;
}
.about-chikuhoku-box .box p {
  font-size: 114%;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: justify;
}
.title{
  background-color: #66D2CE;
  border-radius: 3px;
  width: 5px;
  margin-left: 50px;
}
.left > p{
  text-shadow: 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea, 0px 0px 14px #f6eaea;
}



